---
export interface Props {}

const nowDate = new Date();
const currentYear = nowDate.getFullYear();
---

<footer class="footer-bottom">
  <div class="footer-content-wrapper panel-content-wrapper">
    <div class="footer-copyright-notice">
      <small>Copyright © {currentYear} New Vector Ltd</small>
    </div>
    <ul class="footer-link-list">
      <li class="footer-link-list-item">
        <a
          class="bottom-panel-navigation-link"
          href="https://spec.matrix.org/latest/client-server-api/"
          target="_blank">Matrix API</a
        >
      </li>
      <li class="footer-link-list-item">
        <a class="bottom-panel-navigation-link" href="http://blog.gitter.im" target="_blank">Blog</a
        >
      </li>
      <li class="footer-link-list-item">
        <a class="bottom-panel-navigation-link" href="https://twitter.com/gitchat" target="_blank"
          >Twitter</a
        >
      </li>
    </ul>

    <style>
      .footer-bottom {
        padding: 24px 0;
        background: #f1f0ed;

        color: #a2a098;

        & :where(a) {
          color: #a2a098;
        }
      }

      .footer-content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 620px) {
          justify-content: center;
        }
      }

      .footer-copyright-notice {
        @media (max-width: 620px) {
          margin-left: 20px;
          margin-right: 20px;
        }
      }

      .footer-link-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 0;
      }

      .footer-link-list-item {
        list-style: none;
        margin-left: 25px;

        &:first-child {
          @media (max-width: 620px) {
            margin-left: 0;
          }
        }
      }

      .bottom-panel-navigation-link {
        display: inline-block;
        padding: 20px 15px;

        font-size: 12px;
        line-height: 1;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;
        text-decoration: none;
      }
    </style>
  </div>
</footer>
