---
export interface Props {
  class: string;
}

const { class: className } = Astro.props;
---

<a class:list={['logo-cluster', className]} href="/">
  <div class="logo-holder logo-animation">
    <div class="logo-left-arm logo-animation"></div>
    <div class="logo-body-left logo-animation"></div>
    <div class="logo-body-right logo-animation"></div>
    <div class="logo-right-arm logo-animation"></div>
  </div>

  <img
    src="/images/logo-text-white-nomargin@2x.png"
    alt="Gitter"
    class="logo-text-image menu-animation"
  />
</a>

<style>
  .logo-cluster {
    display: flex;
    display: inline-flex;
    align-items: center;
  }

  .logo-holder {
    position: relative;
    width: 20px;
    height: 24px;
  }

  .logo-animation {
    animation: dropdown 1s linear 1s 1 normal forwards;
    transform: translate3d(0, 0, 0);
  }

  .logo-left-arm {
    position: absolute;
    left: 0;
    top: 0;

    width: 2px;
    height: 15px;

    background-color: white;
    animation-name: tuck-arms;
  }

  .logo-body-left {
    position: absolute;
    top: 4px;
    left: 5px;

    width: 2px;
    height: 20px;

    background-color: white;
    animation-name: tuck-legs;
  }

  .logo-body-right {
    position: absolute;
    top: 4px;
    left: 10px;

    width: 2px;
    height: 20px;

    background-color: white;
    animation-name: tuck-legs;
  }

  .logo-right-arm {
    position: absolute;
    left: 15px;
    top: 4px;

    width: 2px;
    height: 11px;

    background-color: white;
    animation-name: tuck-arms;
  }

  .logo-text-image {
    width: 72px;
    margin-left: 20px;
    animation-name: appear;
  }

  @keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes dropdown {
    0% {
      top: -100px;
    }
    40% {
      top: 0;
    }
    50% {
      top: 4px;
    }
    60% {
      top: 0;
    }
    100% {
      top: 0;
    }
  }

  @keyframes tuck-legs {
    0% {
      height: 20px;
    }
    40% {
      height: 20px;
    }
    50% {
      height: 16px;
    }
    60% {
      height: 20px;
    }
    100% {
      height: 20px;
    }
  }

  @keyframes tuck-arms {
    0% {
      top: 0;
      height: 15px;
    }
    40% {
      top: 0;
      height: 15px;
    }
    50% {
      top: 4px;
      height: 11px;
    }
    60% {
      top: 4px;
      height: 11px;
    }
    90% {
      top: 4px;
      height: 11px;
    }
    100% {
    }
  }
</style>
