---
export interface SiteNavItem {
  url: string;
  label: string;
}

export interface Props {
  class: string;
  navItems: SiteNavItem[];
}

const { navItems, class: className } = Astro.props;

const currentPagePath = new URL(Astro.request.url).pathname;
---

<nav class:list={['nav', className]}>
  <ul class="nav-list">
    {
      navItems.map((navItem: SiteNavItem) => (
        <li class:list={['nav-list-item', { current_branch: navItem.url === currentPagePath }]}>
          <a class="nav-list-item-link" href={navItem.url}>
            {navItem.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<style>
  .nav-list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .nav-list-item {
  }

  .nav-list-item-link {
    margin-left: 8px;
    margin-right: 8px;
    padding: 8px 12px;

    opacity: 0.5;
    color: #fff;

    font-weight: bold;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
  }

  .nav-list-item-link:hover,
  .nav-list-item-link:focus {
    opacity: 0.75;
  }
</style>
