---
import BaseLayout from './BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { DEFAULT_SITE_NAVE_ITEMS } from './BaseLayout.astro';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<BaseLayout title={title}>
  <Header navItems={DEFAULT_SITE_NAVE_ITEMS} />

  <main class="main-content panel-content-wrapper">
    <slot />
  </main>

  <Footer />
</BaseLayout>

<style>
  .main-content {
    padding-top: 30px;
    padding-bottom: 60px;

    color: var(--base-text-color);

    :global(:where(h1, h2, h3, h4, h5, h6)) {
      color: #000;
    }

    :global(a) {
      color: var(--link-color);
    }
  }
</style>
