---
import InlineFontFaceDeclarations from '../components/InlineFontFaceDeclarations.astro';
import type { SiteNavItem } from '../components/SiteNav.astro';

import '../styles/fonts.css';
import '../styles/global.css';

export interface Props {
  title: string;
}

const { title } = Astro.props;

export const DEFAULT_SITE_NAVE_ITEMS: SiteNavItem[] = [
  {
    url: '/#apps',
    label: 'Apps',
  },
  {
    url: '/docs',
    label: 'Documentation',
  },
  {
    url: 'https://element.io/open-source',
    label: 'Open source',
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon-normal.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
